
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    background-color: #121212; /* Matte black shade */
    color: white; /* Text color to contrast with the dark background */
    margin: 100;
    font-family: Arial, sans-serif; /* Optional: Change font if needed */
  }
  
  a {
    color: #00bfff; /* Change link color */
    text-decoration: none;
  }
  
  a:hover {
    color: #1e90ff; /* Hover effect on links */
  }
  
  